h1{
    text-align: center;
    margin-top: 100px;
}

#inp{
    border: 3px solid red;
    height: 250px;
    width: 700px;
    margin-left: 400px;
    font-size: 50px;
}

p{
    font-size: 40px;
    text-align: center;
}

button{
    font-size: 40px;
    margin-left: 700px;
    background-color: #FC5130;
    border-radius: 7px;
    color: white;
}

body{
    background-color: #FFB49A;
}